# SECTION 9:GroupBy

In [3]:
import pandas as pd

In [4]:
# fortune 1000 dataset
fortune =pd.read_csv("fortune1000.csv")

# the groupby object


- éste método retorna un objeto DataFrameGroupby
- el objecto DataFrameGroupby puede realizar operaciones de aggregación en cada grupo

In [5]:
fortune =pd.read_csv("fortune1000.csv")
fortune.head()

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [6]:
# sum of revenue for each sector

fortune.groupby("Sector")

#asignamos
sectors = fortune.groupby("Sector")
sectors
# se ha creado un DF para cada sector existente en la columna

In [7]:
len(sectors)
# entrega la cantidad de sectores

21

In [8]:
sectors.size()
#entrega la cantidad de empresas en cada sector

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [9]:
sectors.first()
# entrega cada uno de los sectores y solo una empresa (la primera)

,Rank,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,,
Aerospace & Defense,24,Boeing,Aerospace and Defense,"Chicago, IL",96114,5176,161400
Apparel,91,Nike,Apparel,"Beaverton, OR",30601,3273,62600
Business Services,144,ManpowerGroup,Temporary Help,"Milwaukee, WI",19330,419,27000
Chemicals,56,Dow Chemical,Chemicals,"Midland, MI",48778,7685,49495
Energy,2,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
Engineering & Construction,155,Fluor,"Engineering, Construction","Irving, TX",18114,413,38758
Financials,4,Berkshire Hathaway,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
Food and Drug Stores,7,CVS Health,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
"Food, Beverages & Tobacco",41,Archer Daniels Midland,Food Production,"Chicago, IL",67702,1849,32300
Health Care,5,McKesson,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
"Hotels, Resturants & Leisure",109,McDonald’s,Food Services,"Oak Brook, IL",25413,4529,420000
Household Products,34,Procter & Gamble,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
Industrials,11,General Electric,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
Materials,126,Alcoa,Metals,"New York, NY",22534,-322,60000
Media,53,Disney,Entertainment,"Burbank, CA",52465,8382,185000
Motor Vehicles & Parts,8,General Motors,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
Retailing,1,Walmart,General Merchandisers,"Bentonville, AR",482130,14694,2300000
Technology,3,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
Telecommunications,10,AT&T,Telecommunications,"Dallas, TX",146801,13345,281450
Transportation,48,UPS,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
Wholesalers,57,Sysco,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [10]:
sectors.last()
# entrega cada uno de los sectores y solo una empresa (la última)

,Rank,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,,
Aerospace & Defense,987,Delta Tucker Holdings,Aerospace and Defense,"McLean, VA",1923,-133,12000
Apparel,917,Guess,Apparel,"Los Angeles, CA",2204,82,13500
Business Services,993,DeVry Education Group,Education,"Downers Grove, IL",1910,140,11770
Chemicals,949,H.B. Fuller,Chemicals,"St. Paul, MN",2084,87,4425
Energy,997,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Engineering & Construction,994,MDC Holdings,Homebuilders,"Denver, CO",1909,66,1225
Financials,996,New York Community Bancorp,Commercial Banks,"Westbury, NY",1902,-47,3448
Food and Drug Stores,928,Fred’s,Food and Drug Stores,"Memphis, TN",2151,-7,7103
"Food, Beverages & Tobacco",954,Alliance One International,Tobacco,"Morrisville, NC",2066,-15,6835
Health Care,978,Providence Service,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
"Hotels, Resturants & Leisure",999,Wendy’s,Food Services,"Dublin, OH",1896,161,21200
Household Products,992,Revlon,Household and Personal Products,"New York, NY",1914,56,5700
Industrials,1000,Briggs & Stratton,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
Materials,986,Schnitzer Steel Industries,Metals,"Portland, OR",1924,-197,2955
Media,989,Cenveo,"Publishing, Printing","Stamford, CT",1921,-31,7300
Motor Vehicles & Parts,979,Allison Transmission Holdings,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
Retailing,973,99 Cents Only Stores,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
Technology,990,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
Telecommunications,786,Equinix,Telecommunications,"Redwood City, CA",2726,188,5042
Transportation,974,Roadrunner Transportation Systems,Transportation and Logistics,"Cudahy, WI",1995,48,4502
Wholesalers,991,BlueLinx Holdings,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600

# Retrive a group with the get_group method

- el método get_group en el objeto DFGBy entrega uno de los DF anidados perteneciente a un grupo/categoría específica

In [11]:
#ejemplos:
sectors.get_group("Technology")
sectors.get_group("Energy")

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
13,14,Chevron,Energy,Petroleum Refining,"San Ramon, CA",131118,4587,61500
29,30,Phillips 66,Energy,Petroleum Refining,"Houston, TX",87169,4227,14000
31,32,Valero Energy,Energy,Petroleum Refining,"San Antonio, TX",81824,3990,10103
41,42,Marathon Petroleum,Energy,Petroleum Refining,"Findlay, OH",64566,2852,45440
...,...,...,...,...,...,...,...,...
980,981,WPX Energy,Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
982,983,Adams Resources & Energy,Energy,Petroleum Refining,"Houston, TX",1944,-1,809
994,995,EP Energy,Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
996,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646

# Methods on the Group by object

- se utilizan brackets en el objeto DFGBy para extraer una columna del DF original
- el obejto SeriesGroupBy tendrá metodos de agregación disponibles
-  pandas ejecutará el cálculo en cada uno de los grupos en su colección
- por ejemplo el método "sum" agupará el total de "revenue" para cada grupo/categoría

In [12]:
sectors["Revenue"]

# entrega un objeto SeriesGroupBy

In [13]:
sectors["Revenue"].sum()

Sector
Aerospace & Defense              357940
Apparel                           95968
Business Services                272195
Chemicals                        243897
Energy                          1517809
Engineering & Construction       153983
Financials                      2217159
Food and Drug Stores             483769
Food, Beverages & Tobacco        555967
Health Care                     1614707
Hotels, Resturants & Leisure     169546
Household Products               234737
Industrials                      497581
Materials                        259145
Media                            220764
Motor Vehicles & Parts           482540
Retailing                       1465076
Technology                      1377600
Telecommunications               461834
Transportation                   408508
Wholesalers                      444800
Name: Revenue, dtype: int64

In [14]:
# equivale a filtrar cada sector y luego ralizar la aggregación ( 21 veces)
mask = fortune["Sector"]== "Apparel"
fortune [mask] ["Revenue"].sum()

95968

In [18]:
sectors["Employees"].sum()
sectors["Profits"].max()
sectors["Profits"].min()
sectors["Employees"].mean()

Sector
Aerospace & Defense             48402.850000
Apparel                         23093.133333
Business Services               26687.254902
Chemicals                       15455.033333
Energy                           9745.303279
Engineering & Construction      15642.615385
Financials                      24172.287770
Food and Drug Stores            93026.533333
Food, Beverages & Tobacco       28177.488372
Health Care                     35710.520000
Hotels, Resturants & Leisure    99369.800000
Household Products              23072.785714
Industrials                     33591.934783
Materials                       14840.069767
Media                           22012.560000
Motor Vehicles & Parts          45106.666667
Retailing                       77845.362500
Technology                      35087.735294
Telecommunications              55497.866667
Transportation                  42688.694444
Wholesalers                     13139.925000
Name: Employees, dtype: float64

In [21]:
#tambien puedo entregar una lista

sectors[["Revenue", "Profits"]].sum()
sectors[["Revenue", "Profits"]].min()

                              Revenue  Profits
Sector
Aerospace & Defense              1923     -240
Apparel                          2204       82
Business Services                1910    -1481
Chemicals                        2084     -816
Energy                           1898   -23119
Engineering & Construction       1909     -155
Financials                       1902    -1194
Food and Drug Stores             2151      -62
Food, Beverages & Tobacco        2066     -253
Health Care                      1987     -458
Hotels, Resturants & Leisure     1896    -1394
Household Products               1914    -1149
Industrials                      1895    -6126
Materials                        1924    -1642
Media                            1921     -881
Motor Vehicles & Parts           1986     -889
Retailing                        1999    -1243
Technology                       1920    -4359
Telecommunications               2726     -271
Transportation                   1995     -191
Wholesalers                      1917     -502

# Grouping by multiple columns

- se entrega una lista de columnas al método groupby para agrupar por pares de valores a través de las columnas
- targetea una columna a extraer/recuperar el objeto SeriesGroupby, luego raliza la agregación
- pandas retornará una serie multi índice, donde los niveles serán los grupos originales

In [24]:
import pandas as pd
fortune = pd.read_csv("fortune1000.csv", index_col="Rank")

In [23]:
fortune.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [28]:
# combinamos sector+industria

sectors=fortune.groupby(["Sector", "Industry"])

#revisamos
sectors.size()
# de este modo obtenemos 79 combinaciones únicas entre sector e industria

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            20
Apparel              Apparel                                          15
Business Services    Advertising, marketing                            2
                     Diversified Outsourcing Services                 14
                     Education                                         3
                                                                      ..
Transportation       Trucking, Truck Leasing                           9
Wholesalers          Miscellaneous                                     1
                     Wholesalers: Diversified                         25
                     Wholesalers: Electronics and Office Equipment     8
                     Wholesalers: Food and Grocery                     6
Length: 79, dtype: int64

In [31]:
sectors["Revenue"].sum()
# de este modo obtenos la suma de revenue en cada sector y por industrias (si huviese mas de una)

# sectors["Employees"].mean().head()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            357940
Apparel              Apparel                                           95968
Business Services    Advertising, marketing                            22748
                     Diversified Outsourcing Services                  64829
                     Education                                          7485
                                                                       ...
Transportation       Trucking, Truck Leasing                           35950
Wholesalers          Miscellaneous                                      8982
                     Wholesalers: Diversified                         176138
                     Wholesalers: Electronics and Office Equipment    147906
                     Wholesalers: Food and Grocery                    111774
Name: Revenue, Length: 79, dtype: int64

# The agg method

- el método agg aplica distintos métodos de agg a diferentes columnas
- se puede invocar directamente en el objeto DFGby
- se entrega un diccionario donde las keys son las columnas y los valores representan a os metodos de aggregación
- se obtine un DF

In [33]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank")
sectors = fortune.groupby("Sector")

In [36]:
# simple
sectors.agg({"Revenue":"sum"})

#multiple 
sectors.agg({"Revenue":"sum", "Profits":"max", "Employees":"mean"})

                              Revenue  Profits     Employees
Sector
Aerospace & Defense            357940     7608  48402.850000
Apparel                         95968     3273  23093.133333
Business Services              272195     6328  26687.254902
Chemicals                      243897     7685  15455.033333
Energy                        1517809    16150   9745.303279
Engineering & Construction     153983      803  15642.615385
Financials                    2217159    24442  24172.287770
Food and Drug Stores           483769     5237  93026.533333
Food, Beverages & Tobacco      555967     7351  28177.488372
Health Care                   1614707    18108  35710.520000
Hotels, Resturants & Leisure   169546     5920  99369.800000
Household Products             234737     7036  23072.785714
Industrials                    497581     4833  33591.934783
Materials                      259145      991  14840.069767
Media                          220764     8382  22012.560000
Motor Vehicles & Parts         482540     9687  45106.666667
Retailing                     1465076    14694  77845.362500
Technology                    1377600    53394  35087.735294
Telecommunications             461834    17879  55497.866667
Transportation                 408508     7610  42688.694444
Wholesalers                    444800     1472  13139.925000

# iterando a travez de los grupos

- el objeto DFGBy seoporta el método apply ( al igual que las series y DF)
- éste método invoca una función en cada DF anidado en el objeto DFGby
- entrega un DF con el valor resultante de las funciones

In [39]:
fortune = pd.read_csv("fortune1000.csv", index_col="Rank")
sectors = fortune.groupby("Sector")

fortune.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [43]:
# find the two companies in each sector with the most companies

# metodo tradicional  en DF
#fortune.nlargest(2, "Employees")

#creamos una funcion
def top_two_companies_by_employee_count(sector):
    return sector.nlargest(2,"Employees")
#usamos apply para que el entrege los 21 grupos/sectores 
sectors.apply(top_two_companies_by_employee_count)

                                                    Company  \
Sector                       Rank
Aerospace & Defense          45         United Technologies
                             24                      Boeing
Apparel                      448                Hanesbrands
                             231                         VF
Business Services            199                    Aramark
                             744                  Convergys
Chemicals                    101                     DuPont
                             56                Dow Chemical
Energy                       2                  Exxon Mobil
                             117                Halliburton
Engineering & Construction   156                      AECOM
                             235   Jacobs Engineering Group
Financials                   4           Berkshire Hathaway
                             27                 Wells Fargo
Food and Drug Stores         17                      Kroger
                             19    Walgreens Boots Alliance
Food, Beverages & Tobacco    44                     PepsiCo
                             62                   Coca-Cola
Health Care                  63                HCA Holdings
                             6           UnitedHealth Group
Hotels, Resturants & Leisure 218                 Yum Brands
                             109                 McDonald’s
Household Products           34            Procter & Gamble
                             256     Stanley Black & Decker
Industrials                  11            General Electric
                             75     Honeywell International
Materials                    126                      Alcoa
                             127        International Paper
Media                        53                      Disney
                             255      R.R. Donnelley & Sons
Motor Vehicles & Parts       8               General Motors
                             9                   Ford Motor
Retailing                    1                      Walmart
                             28                  Home Depot
Technology                   31                         IBM
                             20                          HP
Telecommunications           10                        AT&T
                             13                     Verizon
Transportation               48                         UPS
                             58                       FedEx
Wholesalers                  212                     Synnex
                             57                       Sysco

                                                         Sector  \
Sector                       Rank
Aerospace & Defense          45             Aerospace & Defense
                             24             Aerospace & Defense
Apparel                      448                        Apparel
                             231                        Apparel
Business Services            199              Business Services
                             744              Business Services
Chemicals                    101                      Chemicals
                             56                       Chemicals
Energy                       2                           Energy
                             117                         Energy
Engineering & Construction   156     Engineering & Construction
                             235     Engineering & Construction
Financials                   4                       Financials
                             27                      Financials
Food and Drug Stores         17            Food and Drug Stores
                             19            Food and Drug Stores
Food, Beverages & Tobacco    44       Food, Beverages & Tobacco
                             62       Food, Beverages & Tobacco
Health Care                  63                     Health Care
                             6                      Health Care
Hotels, Resturants & Leisure 218   Hotels, Resturants & Leisure
                             109   Hotels, Resturants & Leisure
Household Products           34              Household Products
                             256             Household Products
Industrials                  11                     Industrials
                             75                     Industrials
Materials                    126                      Materials
                             127                      Materials
Media                        53                           Media
                             255                          Media
Motor Vehicles & Parts       8           Motor Vehicles & Parts
                             9           Motor Vehicles & Parts
Retailing                    1                        Retailing
                             28                       Retailing
Technology                   31                      Technology
                             20                      Technology
Telecommunications           10              Telecommunications
                             13              Telecommunications
Transportation               48                  Transportation
                             58                  Transportation
Wholesalers                  212                    Wholesalers
                             57                     Wholesalers

                                                                        Industry  \
Sector                       Rank
Aerospace & Defense          45                            Aerospace and Defense
                             24                            Aerospace and Defense
Apparel                      448                                         Apparel
                             231                                         Apparel
Business Services            199                Diversified Outsourcing Services
                             744                Diversified Outsourcing Services
Chemicals                    101                                       Chemicals
                             56                                        Chemicals
Energy                       2                                Petroleum Refining
                             117                 Oil and Gas Equipment, Services
Engineering & Construction   156                       Engineering, Construction
                             235                       Engineering, Construction
Financials                   4          Insurance: Property and Casualty (Stock)
                             27                                 Commercial Banks
Food and Drug Stores         17                             Food and Drug Stores
                             19                             Food and Drug Stores
Food, Beverages & Tobacco    44                           Food Consumer Products
                             62                                        Beverages
Health Care                  63                  Health Care: Medical Facilities
                             6           Health Care: Insurance and Managed Care
Hotels, Resturants & Leisure 218                                   Food Services
                             109                                   Food Services
Household Products           34                  Household and Personal Products
                             256                     Home Equipment, Furnishings
Industrials                  11                             Industrial Machinery
                             75                   Electronics, Electrical Equip.
Materials                    126                                          Metals
                             127                           Packaging, Containers
Media                        53                                    Entertainment
                             255                            Publishing, Printing
Motor Vehicles & Parts       8                          Motor Vehicles and Parts
                             9                          Motor Vehicles and Parts
Retailing                    1                             General Merchandisers
                             28                       Specialty Retailers: Other
Technology                   31                  Information Technology Services
                             20                      Computers, Office Equipment
Telecommunications           10                               Telecommunications
                             13                               Telecommunications
Transportation               48              Mail, Package, and Freight Delivery
                             58              Mail, Package, and Freight Delivery
Wholesalers                  212   Wholesalers: Electronics and Office Equipment
                             57                    Wholesalers: Food and Grocery

                                            Location  Revenue  Profits  \
Sector                       Rank
Aerospace & Defense          45       Farmington, CT    61047     7608
                             24          Chicago, IL    96114     5176
Apparel                      448   Winston-Salem, NC     5732      429
                             231      Greensboro, NC    12377     1232
Business Services            199    Philadelphia, PA    14329      236
                             744      Cincinnati, OH     2951      169
Chemicals                    101      Wilmington, DE    27940     1953
                             56          Midland, MI    48778     7685
Energy                       2            Irving, TX   246204    16150
                             117         Houston, TX    23633     -671
Engineering & Construction   156     Los Angeles, CA    17990     -155
                             235        Pasadena, CA    12115      303
Financials                   4             Omaha, NE   210821    24083
                             27    San Francisco, CA    90033    22894
Food and Drug Stores         17       Cincinnati, OH   109830     2039
                             19        Deerfield, IL   103444     4220
Food, Beverages & Tobacco    44         Purchase, NY    63056     5452
                             62          Atlanta, GA    44294     7351
Health Care                  63        Nashville, TN    43591     2129
                             6        Minnetonka, MN   157107     5813
Hotels, Resturants & Leisure 218      Louisville, KY    13105     1293
                             109       Oak Brook, IL    25413     4529
Household Products           34       Cincinnati, OH    78756     7036
                             256     New Britain, CT    11211      884
Industrials                  11        Fairfield, CT   140389    -6126
                             75    Morris Plains, NJ    38581     4768
Materials                    126        New York, NY    22534     -322
                             127         Memphis, TN    22365      938
Media                        53          Burbank, CA    52465     8382
                             255         Chicago, IL    11257      151
Motor Vehicles & Parts       8           Detroit, MI   152356     9687
                             9          Dearborn, MI   149558     7373
Retailing                    1       Bentonville, AR   482130    14694
                             28          Atlanta, GA    88519     7009
Technology                   31           Armonk, NY    82461    13190
                             20        Palo Alto, CA   103355     4554
Telecommunications           10           Dallas, TX   146801    13345
                             13         New York, NY   131620    17879
Transportation               48          Atlanta, GA    58363     4844
                             58          Memphis, TN    47453     1050
Wholesalers                  212         Fremont, CA    13338      209
                             57          Houston, TX    48681      687

                                   Employees
Sector                       Rank
Aerospace & Defense          45       197200
                             24       161400
Apparel                      448       65300
                             231       64000
Business Services            199      216500
                             744      130000
Chemicals                    101       52000
                             56        49495
Energy                       2         75600
                             117       65000
Engineering & Construction   156       92000
                             235       56950
Financials                   4        331000
                             27       264700
Food and Drug Stores         17       431000
                             19       302500
Food, Beverages & Tobacco    44       263000
                             62       123200
Health Care                  63       203500
                             6        200000
Hotels, Resturants & Leisure 218      505000
                             109      420000
Household Products           34       110000
                             256       51250
Industrials                  11       333000
                             75       129000
Materials                    126       60000
                             127       56000
Media                        53       185000
                             255       68400
Motor Vehicles & Parts       8        215000
                             9        199000
Retailing                    1       2300000
                             28       385000
Technology                   31       411798
                             20       287000
Telecommunications           10       281450
                             13       177700
Transportation               48       341240
                             58       323035
Wholesalers                  212       78500
                             57        51700