# DataFrames III: Data Extraction
module dataset:   all james bond movies

In [5]:
import pandas as pd

#corregir error de autocompletar en jupyter notebook
%config IPCompleter.greedy=True

In [2]:
bond =pd.read_csv("jamesbond.csv")
bond.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

 The set_index and reset_index methods

In [3]:
bond.set_index("Film")
# se elimina el indice creado al importar el archivo, reemplazandolo por el que hemos elegido
# reset_index crea el indice por defecto
# una laternativa sería definir el indice al importar el archivo ej:
# bond = pd.read_csv("jamesbond.csv", index_col="Film")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [4]:
#bond.reset_index()
#devuelve el índice por defecto 
# el parámetro drop elimina el anterior índice o conservarlo como una nueva columna
# bond.reset_index(drop = True)
# por defecto es False

In [5]:
#otra situación con film como indice
# bond.set_index("Film")

# para utilizar Year como indice debo utilizar ambas funciones en conjunto

bond = bond.reset_index(drop=True).set_index("Year")
#bond=bond.set_index("Year", drop=True)
bond.head()

,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,,
1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2
1965,Thunderball,Sean Connery,Terence Young,848.1,41.9,4.7
1967,Casino Royale,David Niven,Ken Hughes,315.0,85.0,NaN

# Retrive rows by index position with iloc accesor

no utiliza parentesis redondo, no es una función común

se utiliza el formato ( Fila , Columna)

# Difference Between loc and iloc

## The difference between the loc and iloc functions is that the loc function selects rows using row labels (e.g. tea) whereas the iloc function selects rows using their integer positions (staring from 0 and going up by one for each row).

In [6]:
bond.iloc[5]

# Entrega la información de una fila seleccionada en el paréntesis

Film                 You Only Live Twice
Actor                       Sean Connery
Director                   Lewis Gilbert
Box Office                         514.2
Budget                              59.9
Bond Actor Salary                    4.4
Name: 1967, dtype: object

In [7]:
# se le puede entregar una lista , para consultar múltiples filas
# cuidado con el paréntesis cuadrado
# el resultado es un pequeño dataframe

bond.iloc[[15,20]]
# aplican las reglas de series 
# bond.iloc[4:8]
# bond.iloc[0:6]
#bond.iloc[:6]
bond.iloc[20:]

,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,,
1999,The World Is Not Enough,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
2002,Die Another Day,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
2006,Casino Royale,Daniel Craig,Martin Campbell,581.5,145.3,3.3
2008,Quantum of Solace,Daniel Craig,Marc Forster,514.2,181.4,8.1
2012,Skyfall,Daniel Craig,Sam Mendes,943.5,170.2,14.5
2015,Spectre,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [8]:
# Loc accesor
# importante que la series este ordenanda (sort)

bond =pd.read_csv("jamesbond.csv", index_col="Film")
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [9]:
bond.loc[ "Goldfinger"]
bond.loc[ "Casino Royale"]

#bond.loc["Sacred Bond"]   Genera error ya que no se encuentra en el índice

bond.loc[["Octopussy","Moonraker"]]
bond.loc[["Moonraker", "Octopussy"]]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8

In [10]:
bond.loc["Diamonds Are Forever":"Moonraker"]
bond.loc["GoldenEye":]
bond.loc[:"Thunderball"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

 Second arguments to loc and Iloc accesors

In [18]:
# usamos "film" como index
# ordenar el índice  da velocidad a pandas
bond = pd.read_csv("jamesbond.csv", index_col= "Film").sort_index()
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [12]:
# al entregar un segundo argumento, le damos la posicion exacta en una matriz

bond.loc["Diamonds Are Forever", "Director"]

# el argumento tambien puede ser una lista, ej:
bond.loc[["Octopussy", "GoldenEye"], "Director"]

# tambien es posible obtener slices, debemos conocer el orden de las columnas

bond.loc[["Octopussy", "GoldenEye"], "Director":"Budget"]

# dos slices

bond.loc[ "GoldenEye":"Octopussy", "Director":"Budget"]

# entregamos una lista con las columnas específicas, en orden específico, similar a una query
bond.loc[ "GoldenEye":"Octopussy", ["Actor" , "Bond Actor Salary", "Year"]]

                                Actor  Bond Actor Salary  Year
Film
GoldenEye              Pierce Brosnan                5.1  1995
Goldfinger               Sean Connery                3.2  1964
Licence to Kill        Timothy Dalton                7.9  1989
Live and Let Die          Roger Moore                NaN  1973
Moonraker                 Roger Moore                NaN  1979
Never Say Never Again    Sean Connery                NaN  1983
Octopussy                 Roger Moore                7.8  1983

In [13]:
# De igual forma que con loc podemos hacerlo con iloc
# forma similar al algebra de matrices

bond.iloc[0,2]
bond.iloc[3,5]
9
# se puden ulizar listas , slices como en la funcion loc

5.8

Overwrite value in a dataframe

In [20]:
bond["Actor"]= bond["Actor"].replace("Sean Connery", "Sir Sean Connery")
# acepta dos parámetros, el termino buscado y su reemplazo
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [33]:
# limpiamos volviendo a importar

bond = pd.read_csv("jamesbond.csv", index_col= "Film").sort_index()
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

# precaución

In [26]:
#obtenemos un booleano
bond["Actor"] == "Sean Connery"
# obtenemos el subset de films protagonizados por S.C.
bond[bond["Actor"] == "Sean Connery"]
# reemplazamos utilizando Loc accesor
bond[bond["Actor"] == "Sean Connery"].loc[:, "Actor"] = " Sir Sean Connery"

# al realizar este reemplazo en un subset o view, este no se ha guardado en nuestro DF original
# bond.head(15)

In [35]:
# la forma correcta es utilizando una variable
# la variable almacena la serie booleana
is_sean_connery = bond["Actor"] == "Sean Connery"
# filtramos
bond.loc[is_sean_connery]
# localizamos (individualizamos/ target) la columna Actor y reemplazamos todos los valores por "Sir Sean Connery"
bond.loc[is_sean_connery , "Actor"] = "Sir Sean Connery"
#comprobamos
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sir Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sir Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sir Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sir Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sir Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sir Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sir Sean Connery,Lewis Gilbert,514.2,59.9,4.4

Rename index labels or Columns in a dataframe

In [51]:
import pandas as pd
bond = pd.read_csv("jamesbond.csv", index_col= "Film").sort_index()
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [17]:
bond =bond.rename(columns= {"Year": "Year of release", "Box Office": "Revenue"})
# se enrega un diccionario con las columnas a renombrar 
#el cambio se realiza uno a uno
# {col_objetivo: nuevo_nombre}
bond.head()

,Year of release,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [22]:
swaps= {
    "Dr. No": "Dr No",
    "GoldenEye": "Golden Eye",
    "The World Is Not Enough": "Best Bond Movie Ever"
}

bond =bond.rename(index= swaps)
# el resultado reemplaza directamente, es necesario aplicar sort nuevamente para mantener el orden alfabético
bond.head(10)

,Year of release,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Golden Eye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [27]:
# métedo alternativo para todas las columnas de una sola vez
# debemos entregar un valor a cada una ó ocasiona un error

#primero invocamos el method columns para obener el listado
bond.columns
bond.columns = ["Year", "Bond Guy", "Camera Dude", "Revenues", "Cost", "Salary" ]
bond.head()

,Year,Bond Guy,Camera Dude,Revenues,Cost,Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [28]:
bond.columns

Index(['Year', 'Bond Guy', 'Camera Dude', 'Revenues', 'Cost', 'Salary'], dtype='object')

Delete rows or columns from a DataFrame

In [43]:
import pandas as pd
bond = pd.read_csv("jamesbond.csv", index_col= "Film").sort_index()
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [38]:
#permite uso de listas
bond.drop(columns=["Box Office","Budget"])

bond.drop(index=["A View to a Kill", "Casino Royale"])

bond.drop(index=["A View to a Kill", "Casino Royale"]  , columns=["Box Office","Budget"] )

# no mutacional, debemos almacenarlo  manualmente
# bond = bond.drop...

,Year,Actor,Director,Bond Actor Salary
Film,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,17.9
Dr. No,1962,Sean Connery,Terence Young,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,NaN
From Russia with Love,1963,Sean Connery,Terence Young,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,NaN
Octopussy,1983,Roger Moore,John Glen,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,14.5
Spectre,2015,Daniel Craig,Sam Mendes,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,13.5
Thunderball,1965,Sean Connery,Terence Young,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,4.4

In [39]:
# metodo pop
# mutacional : guarda los cambios en el DF
bond.pop( "Actor")

Film
A View to a Kill                      Roger Moore
Casino Royale                        Daniel Craig
Casino Royale                         David Niven
Diamonds Are Forever                 Sean Connery
Die Another Day                    Pierce Brosnan
Dr. No                               Sean Connery
For Your Eyes Only                    Roger Moore
From Russia with Love                Sean Connery
GoldenEye                          Pierce Brosnan
Goldfinger                           Sean Connery
Licence to Kill                    Timothy Dalton
Live and Let Die                      Roger Moore
Moonraker                             Roger Moore
Never Say Never Again                Sean Connery
Octopussy                             Roger Moore
On Her Majesty's Secret Service    George Lazenby
Quantum of Solace                    Daniel Craig
Skyfall                              Daniel Craig
Spectre                              Daniel Craig
The Living Daylights               Timothy Dalton
The Man with the Golden Gun           Roger Moore
The Spy Who Loved Me                  Roger Moore
The World Is Not Enough            Pierce Brosnan
Thunderball                          Sean Connery
Tomorrow Never Dies                Pierce Brosnan
You Only Live Twice                  Sean Connery
Name: Actor, dtype: object

In [42]:
bond.head()
# pop eliminó la columna y guardo los cambios

,Year,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,
A View to a Kill,1985,John Glen,275.2,54.5,9.1
Casino Royale,2006,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Lee Tamahori,465.4,154.2,17.9

In [47]:
# por lo anterior se utiliza así
actor= bond.pop("Actor")
actor.head()
# de este modo no eliminamos por error nuestra data

Film
A View to a Kill           Roger Moore
Casino Royale             Daniel Craig
Casino Royale              David Niven
Diamonds Are Forever      Sean Connery
Die Another Day         Pierce Brosnan
Name: Actor, dtype: object

# keyword "del":
- no es funcion, es palabra protegida por python
- mutable

In [52]:
# keyword "del"
# no es funcion, es palabra protegida por python
# mutable
del bond["Year"]
# no devuelve la serie, se debe traer manualmente
bond.head()

,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,
A View to a Kill,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

Create random sample with the sample method

In [1]:
import pandas as pd
bond = pd.read_csv("jamesbond.csv", index_col= "Film").sort_index()
bond.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [9]:
bond.sample()

#usa el parámetro "n" 

bond.sample(n=5)

# usa el parámetro "axis" que pueder ser "rows" or "columns"
bond.sample(n=3 , axis= "rows")
bond.sample(n=2,axis="columns")

                                 Year  Bond Actor Salary
Film
A View to a Kill                 1985                9.1
Casino Royale                    2006                3.3
Casino Royale                    1967                NaN
Diamonds Are Forever             1971                5.8
Die Another Day                  2002               17.9
Dr. No                           1962                0.6
For Your Eyes Only               1981                NaN
From Russia with Love            1963                1.6
GoldenEye                        1995                5.1
Goldfinger                       1964                3.2
Licence to Kill                  1989                7.9
Live and Let Die                 1973                NaN
Moonraker                        1979                NaN
Never Say Never Again            1983                NaN
Octopussy                        1983                7.8
On Her Majesty's Secret Service  1969                0.6
Quantum of Solace                2008                8.1
Skyfall                          2012               14.5
Spectre                          2015                NaN
The Living Daylights             1987                5.2
The Man with the Golden Gun      1974                NaN
The Spy Who Loved Me             1977                NaN
The World Is Not Enough          1999               13.5
Thunderball                      1965                4.7
Tomorrow Never Dies              1997               10.0
You Only Live Twice              1967                4.4

The nsmallest and nlargest methods

Solo funciona en columnas numéricas, nunca con stgr

In [10]:
#import pandas as pd
#bond = pd.read_csv("jamesbond.csv", index_col= "Film").sort_index()
#bond.head()

In [14]:
# retrive the 4 films with the highest/largest Box office gross

# metodo nro 1
bond.sort_values("Box Office", ascending= False).head(4)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [19]:
# metodo nro 2 
# mejor optimizado para grandes cantidades de información
# parámetro "n" y parámetro "columns" ( en string o lista)
bond.nlargest(n=4, columns= "Box Office")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [20]:
# metodo nro 3
bond["Box Office"].nlargest(4)

Film
Skyfall        943.5
Thunderball    848.1
Goldfinger     820.4
Spectre        726.7
Name: Box Office, dtype: float64

In [22]:
# de la misma forma funciona nmallest
bond.nsmallest(3, columns="Bond Actor Salary")
bond["Bond Actor Salary"].nsmallest(3)

Film
Dr. No                             0.6
On Her Majesty's Secret Service    0.6
From Russia with Love              1.6
Name: Bond Actor Salary, dtype: float64

Filterind with the where method

- similar a loc accesor

- utiliza boolean

- necesita una condición

In [25]:
# importamos:
# import pandas as pd
# bond = pd.read_csv("jamesbond.csv", index_col= "Film").sort_index()
# bond.head()

In [ ]:
# similar  a :

actor_is_sean_connery = bond["Actor"]=="Sean Connery"
bond[actor_is_sean_connery]
# ó 
bond.loc[actor_is_sean_connery]
# usando where, necesita una condición:
bond.where(actor_is_sean_connery)

#actua como serie de booleanos, los false son entregados como nan

The "apply" method with DF
- aplica una funcion ó serie de pasos a cada fila

In [14]:
bond["Actor"].apply(len)

Film
A View to a Kill                   11
Casino Royale                      12
Casino Royale                      11
Diamonds Are Forever               12
Die Another Day                    14
Dr. No                             12
For Your Eyes Only                 11
From Russia with Love              12
GoldenEye                          14
Goldfinger                         12
Licence to Kill                    14
Live and Let Die                   11
Moonraker                          11
Never Say Never Again              12
Octopussy                          11
On Her Majesty's Secret Service    14
Quantum of Solace                  12
Skyfall                            12
Spectre                            12
The Living Daylights               14
The Man with the Golden Gun        11
The Spy Who Loved Me               11
The World Is Not Enough            14
Thunderball                        12
Tomorrow Never Dies                14
You Only Live Twice                12
Name: Actor, dtype: int64

In [16]:
# ejemplo  Movie Ranking System
#
# Condition -> Designation
# 80s movie -> "Great 80's flick"
# Sean Connery -> "The best Bond ever"
# Budget >100  -> "Expensive movie, fun"
# Others -> "No Comment"

In [19]:
#primer paso
def rank_movie(row):
    print(row)
    
bond.apply(rank_movie, axis="columns")

# se obtine un objeto donde se recorre la fila
# avanzando una columna a la vez
# retorna el valor de cada columna
# simil a transponer en excel

Year                        1985
Actor                Roger Moore
Director               John Glen
Box Office                 275.2
Budget                      54.5
Bond Actor Salary            9.1
Name: A View to a Kill, dtype: object
Year                            2006
Actor                   Daniel Craig
Director             Martin Campbell
Box Office                     581.5
Budget                         145.3
Bond Actor Salary                3.3
Name: Casino Royale, dtype: object
Year                        1967
Actor                David Niven
Director              Ken Hughes
Box Office                 315.0
Budget                      85.0
Bond Actor Salary            NaN
Name: Casino Royale, dtype: object
Year                         1971
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  442.5
Budget                       34.7
Bond Actor Salary             5.8
Name: Diamonds Are Forever, dtype: object
Year                           2002
Actor                Pierce Brosnan
Director               Lee Tamahori
Box Office                    465.4
Budget                        154.2
Bond Actor Salary              17.9
Name: Die Another Day, dtype: object
Year                          1962
Actor                 Sean Connery
Director             Terence Young
Box Office                   448.8
Budget                         7.0
Bond Actor Salary              0.6
Name: Dr. No, dtype: object
Year                        1981
Actor                Roger Moore
Director               John Glen
Box Office                 449.4
Budget                      60.2
Bond Actor Salary            NaN
Name: For Your Eyes Only, dtype: object
Year                          1963
Actor                 Sean Connery
Director             Terence Young
Box Office                   543.8
Budget                        12.6
Bond Actor Salary              1.6
Name: From Russia with Love, dtype: object
Year                            1995
Actor                 Pierce Brosnan
Director             Martin Campbell
Box Office                     518.5
Budget                          76.9
Bond Actor Salary                5.1
Name: GoldenEye, dtype: object
Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object
Year                           1989
Actor                Timothy Dalton
Director                  John Glen
Box Office                    250.9
Budget                         56.7
Bond Actor Salary               7.9
Name: Licence to Kill, dtype: object
Year                         1973
Actor                 Roger Moore
Director             Guy Hamilton
Box Office                  460.3
Budget                       30.8
Bond Actor Salary             NaN
Name: Live and Let Die, dtype: object
Year                          1979
Actor                  Roger Moore
Director             Lewis Gilbert
Box Office                   535.0
Budget                        91.5
Bond Actor Salary              NaN
Name: Moonraker, dtype: object
Year                           1983
Actor                  Sean Connery
Director             Irvin Kershner
Box Office                    380.0
Budget                         86.0
Bond Actor Salary               NaN
Name: Never Say Never Again, dtype: object
Year                        1983
Actor                Roger Moore
Director               John Glen
Box Office                 373.8
Budget                      53.9
Bond Actor Salary            7.8
Name: Octopussy, dtype: object
Year                           1969
Actor                George Lazenby
Director              Peter R. Hunt
Box Office                    291.5
Budget                         37.3
Bond Actor Salary               0.6
Name: On Her Majesty's Secret Service, dtype: object
Year                         2008
Actor                Daniel Craig
Director             Marc Forster
Box Office                  514.2
Budget                      181.4
Bond Actor Salary             8.1
Name: Quantum of Solace, dtype: object
Year                         2012
Actor                Daniel Craig
Director               Sam Mendes
Box Office                  943.5
Budget                      170.2
Bond Actor Salary            14.5
Name: Skyfall, dtype: object
Year                         2015
Actor                Daniel Craig
Director               Sam Mendes
Box Office                  726.7
Budget                      206.3
Bond Actor Salary             NaN
Name: Spectre, dtype: object
Year                           1987
Actor                Timothy Dalton
Director                  John Glen
Box Office                    313.5
Budget                         68.8
Bond Actor Salary               5.2
Name: The Living Daylights, dtype: object
Year                         1974
Actor                 Roger Moore
Director             Guy Hamilton
Box Office                  334.0
Budget                       27.7
Bond Actor Salary             NaN
Name: The Man with the Golden Gun, dtype: object
Year                          1977
Actor                  Roger Moore
Director             Lewis Gilbert
Box Office                   533.0
Budget                        45.1
Bond Actor Salary              NaN
Name: The Spy Who Loved Me, dtype: object
Year                           1999
Actor                Pierce Brosnan
Director              Michael Apted
Box Office                    439.5
Budget                        158.3
Bond Actor Salary              13.5
Name: The World Is Not Enough, dtype: object
Year                          1965
Actor                 Sean Connery
Director             Terence Young
Box Office                   848.1
Budget                        41.9
Bond Actor Salary              4.7
Name: Thunderball, dtype: object
Year                               1997
Actor                    Pierce Brosnan
Director             Roger Spottiswoode
Box Office                        463.2
Budget                            133.9
Bond Actor Salary                  10.0
Name: Tomorrow Never Dies, dtype: object
Year                          1967
Actor                 Sean Connery
Director             Lewis Gilbert
Box Office                   514.2
Budget                        59.9
Bond Actor Salary              4.4
Name: You Only Live Twice, dtype: object

Film
A View to a Kill                   None
Casino Royale                      None
Casino Royale                      None
Diamonds Are Forever               None
Die Another Day                    None
Dr. No                             None
For Your Eyes Only                 None
From Russia with Love              None
GoldenEye                          None
Goldfinger                         None
Licence to Kill                    None
Live and Let Die                   None
Moonraker                          None
Never Say Never Again              None
Octopussy                          None
On Her Majesty's Secret Service    None
Quantum of Solace                  None
Skyfall                            None
Spectre                            None
The Living Daylights               None
The Man with the Golden Gun        None
The Spy Who Loved Me               None
The World Is Not Enough            None
Thunderball                        None
Tomorrow Never Dies                None
You Only Live Twice                None
dtype: object

In [21]:
# axis contrario 
def rank_movie(row):
    print(row)
    
bond.apply(rank_movie, axis="index")

# se obtine un objeto donde se recorre la columna
# avanzando una fila a la vez
# retorna el valor de cada fila
# simil a transponer en excel

Film
A View to a Kill                   1985
Casino Royale                      2006
Casino Royale                      1967
Diamonds Are Forever               1971
Die Another Day                    2002
Dr. No                             1962
For Your Eyes Only                 1981
From Russia with Love              1963
GoldenEye                          1995
Goldfinger                         1964
Licence to Kill                    1989
Live and Let Die                   1973
Moonraker                          1979
Never Say Never Again              1983
Octopussy                          1983
On Her Majesty's Secret Service    1969
Quantum of Solace                  2008
Skyfall                            2012
Spectre                            2015
The Living Daylights               1987
The Man with the Golden Gun        1974
The Spy Who Loved Me               1977
The World Is Not Enough            1999
Thunderball                        1965
Tomorrow Never Dies                1997
You Only Live Twice                1967
Name: Year, dtype: int64
Film
A View to a Kill                      Roger Moore
Casino Royale                        Daniel Craig
Casino Royale                         David Niven
Diamonds Are Forever                 Sean Connery
Die Another Day                    Pierce Brosnan
Dr. No                               Sean Connery
For Your Eyes Only                    Roger Moore
From Russia with Love                Sean Connery
GoldenEye                          Pierce Brosnan
Goldfinger                           Sean Connery
Licence to Kill                    Timothy Dalton
Live and Let Die                      Roger Moore
Moonraker                             Roger Moore
Never Say Never Again                Sean Connery
Octopussy                             Roger Moore
On Her Majesty's Secret Service    George Lazenby
Quantum of Solace                    Daniel Craig
Skyfall                              Daniel Craig
Spectre                              Daniel Craig
The Living Daylights               Timothy Dalton
The Man with the Golden Gun           Roger Moore
The Spy Who Loved Me                  Roger Moore
The World Is Not Enough            Pierce Brosnan
Thunderball                          Sean Connery
Tomorrow Never Dies                Pierce Brosnan
You Only Live Twice                  Sean Connery
Name: Actor, dtype: object
Film
A View to a Kill                            John Glen
Casino Royale                         Martin Campbell
Casino Royale                              Ken Hughes
Diamonds Are Forever                     Guy Hamilton
Die Another Day                          Lee Tamahori
Dr. No                                  Terence Young
For Your Eyes Only                          John Glen
From Russia with Love                   Terence Young
GoldenEye                             Martin Campbell
Goldfinger                               Guy Hamilton
Licence to Kill                             John Glen
Live and Let Die                         Guy Hamilton
Moonraker                               Lewis Gilbert
Never Say Never Again                  Irvin Kershner
Octopussy                                   John Glen
On Her Majesty's Secret Service         Peter R. Hunt
Quantum of Solace                        Marc Forster
Skyfall                                    Sam Mendes
Spectre                                    Sam Mendes
The Living Daylights                        John Glen
The Man with the Golden Gun              Guy Hamilton
The Spy Who Loved Me                    Lewis Gilbert
The World Is Not Enough                 Michael Apted
Thunderball                             Terence Young
Tomorrow Never Dies                Roger Spottiswoode
You Only Live Twice                     Lewis Gilbert
Name: Director, dtype: object
Film
A View to a Kill                   275.2
Casino Royale                      581.5
Casino Royale                      315.0
Diamonds Are Forever               442.5
Die Another Day                    465.4
Dr. No                             448.8
For Your Eyes Only                 449.4
From Russia with Love              543.8
GoldenEye                          518.5
Goldfinger                         820.4
Licence to Kill                    250.9
Live and Let Die                   460.3
Moonraker                          535.0
Never Say Never Again              380.0
Octopussy                          373.8
On Her Majesty's Secret Service    291.5
Quantum of Solace                  514.2
Skyfall                            943.5
Spectre                            726.7
The Living Daylights               313.5
The Man with the Golden Gun        334.0
The Spy Who Loved Me               533.0
The World Is Not Enough            439.5
Thunderball                        848.1
Tomorrow Never Dies                463.2
You Only Live Twice                514.2
Name: Box Office, dtype: float64
Film
A View to a Kill                    54.5
Casino Royale                      145.3
Casino Royale                       85.0
Diamonds Are Forever                34.7
Die Another Day                    154.2
Dr. No                               7.0
For Your Eyes Only                  60.2
From Russia with Love               12.6
GoldenEye                           76.9
Goldfinger                          18.6
Licence to Kill                     56.7
Live and Let Die                    30.8
Moonraker                           91.5
Never Say Never Again               86.0
Octopussy                           53.9
On Her Majesty's Secret Service     37.3
Quantum of Solace                  181.4
Skyfall                            170.2
Spectre                            206.3
The Living Daylights                68.8
The Man with the Golden Gun         27.7
The Spy Who Loved Me                45.1
The World Is Not Enough            158.3
Thunderball                         41.9
Tomorrow Never Dies                133.9
You Only Live Twice                 59.9
Name: Budget, dtype: float64
Film
A View to a Kill                    9.1
Casino Royale                       3.3
Casino Royale                       NaN
Diamonds Are Forever                5.8
Die Another Day                    17.9
Dr. No                              0.6
For Your Eyes Only                  NaN
From Russia with Love               1.6
GoldenEye                           5.1
Goldfinger                          3.2
Licence to Kill                     7.9
Live and Let Die                    NaN
Moonraker                           NaN
Never Say Never Again               NaN
Octopussy                           7.8
On Her Majesty's Secret Service     0.6
Quantum of Solace                   8.1
Skyfall                            14.5
Spectre                             NaN
The Living Daylights                5.2
The Man with the Golden Gun         NaN
The Spy Who Loved Me                NaN
The World Is Not Enough            13.5
Thunderball                         4.7
Tomorrow Never Dies                10.0
You Only Live Twice                 4.4
Name: Bond Actor Salary, dtype: float64

Year                 None
Actor                None
Director             None
Box Office           None
Budget               None
Bond Actor Salary    None
dtype: object

In [24]:
# segundo paso
# usamos variables locales para extraer las columnas objetivo
# aplicamos los condicionales

def rank_movie(row):
    year=row.loc["Year"]
    actor=row.loc["Actor"]
    budget=row.loc["Budget"]
    
    if year >=1980 and year < 1990:
        return "Great 80's flick!"
    
    if actor == "Sean Connery":
        return "The Best Bond Ever"
    
    if budget >100:
        return "Expensive movie, fun"
    
    return " No comment"
    
    
bond.apply(rank_movie, axis="columns")

Film
A View to a Kill                      Great 80's flick!
Casino Royale                      Expensive movie, fun
Casino Royale                                No comment
Diamonds Are Forever                 The Best Bond Ever
Die Another Day                    Expensive movie, fun
Dr. No                               The Best Bond Ever
For Your Eyes Only                    Great 80's flick!
From Russia with Love                The Best Bond Ever
GoldenEye                                    No comment
Goldfinger                           The Best Bond Ever
Licence to Kill                       Great 80's flick!
Live and Let Die                             No comment
Moonraker                                    No comment
Never Say Never Again                 Great 80's flick!
Octopussy                             Great 80's flick!
On Her Majesty's Secret Service              No comment
Quantum of Solace                  Expensive movie, fun
Skyfall                            Expensive movie, fun
Spectre                            Expensive movie, fun
The Living Daylights                  Great 80's flick!
The Man with the Golden Gun                  No comment
The Spy Who Loved Me                         No comment
The World Is Not Enough            Expensive movie, fun
Thunderball                          The Best Bond Ever
Tomorrow Never Dies                Expensive movie, fun
You Only Live Twice                  The Best Bond Ever
dtype: object